<h1>Listing admin_meetups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_meetups.each do |admin_meetup| %>
      <tr>
        <td><%= link_to 'Show', admin_meetup %></td>
        <td><%= link_to 'Edit', edit_admin_meetup_path(admin_meetup) %></td>
        <td><%= link_to 'Destroy', admin_meetup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meetup', new_admin_meetup_path %>
