<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="col-md-6">
      <%= image_tag @user.picture, width: "100%" %><br/>
    </div>
    <div class="col-md-6">
      <%= @user.name %><br/>
      <%= @user.email %>
    </div>
  </div>
</div>
